/* body{
  background-image: linear-gradient(#1c2639, #032763, gray);
} */

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #26265c;
  transform-origin: 0%;
}